body {
  background-color: #000;
  color: #ccc;
}

#logoimg {
  -webkit-filter: invert(100%);
}

#logotxt_sub1,
#logotxt_sub2 {
  color: #ccc;
  opacity: 0.1;
}

#logotxt:hover #logotxt_sub1,
#logotxt:hover #logotxt_sub2 {
  opacity: 0.3;
}

#logodes {
  color: #474747;
}

#pages {
  background-color: #111;
  color: #ccc;
  text-shadow: 2px 2px 2px #000;
}

#maincontent {
  text-align: justify;
  width: 640px;
  margin: 0 auto;
}
